@import url(./cartao.css);
@import url(./cupom.css);

:root{
    --background-cartao:#0087a0;
    --background-body: #d6eaff;
    --font-corpo: 'Raleway', sans-serif;
    --color-font-body: #fff;

}

*{
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: 0;
}

body{
    background: var(--background-body);
    font-family: var(--font-corpo);
}
header{
    background: var(--background-cartao);
}
main{
    background: var(--background-body);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em  0;
}
section{
    background: var(--background-body);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}












@media screen and (min-width: 1440px){

    main{
        margin: 3em 0;
    }
}
